Simple Usage

  To use the plugin you have to add it in the plugin-section in your pom.xml file of your project.

  Here is an example (make sure you define the latest release).

+------------------------
<pom>
...
...
...
   <build>
      <finalName>simple</finalName>
      <plugins>
         <plugin>
            <groupId>com.googlecode.t7mp</groupId>
            <artifactId>maven-t7-plugin</artifactId>
            <version>0.9.10.M8</version>
         </plugin>
         ...
         more plugins
         ...
      </plugins>
   </build>
...
...
</pom>
+------------------------

  To run the Tomcat-Instance you can use the following command (install is to package your project, if you did not yet).

+------------------------
mvn clean install t7:run
+------------------------